<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.relationbdd">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_2_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_2_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RelationBdd">
        <activity android:name=".Mylocation"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ShowResultInmaps"
            android:screenOrientation="portrait"/>
        <activity android:name=".DetailLigne"
            android:screenOrientation="portrait"/>
        <activity android:name=".DetailTeleStation"
            android:screenOrientation="portrait"/>
        <activity android:name=".CalculeItineraire" android:screenOrientation="portrait"/>
        <activity android:name=".ListStation" android:screenOrientation="portrait"/>
        <activity android:name=".DetailBusStation" android:screenOrientation="portrait"/>
        <activity android:name=".DetailTramStation" android:screenOrientation="portrait"/>
        <activity android:name=".DetailMetroStation" android:screenOrientation="portrait"/>
        <activity android:name=".SplashScreen" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>